@page "/" 
<PageTitle>OpenAI Blazor </PageTitle>
@*<div class="h1 mb-4 text-center"> OpenAI - Blazor App </div>*@
<div style="line-height:30px;" class="h2 mb-4 text-center">Welcome to Blazor OpenAI Application </div>
<br />
<div class="container">
    <img class="image-fullsize" src="/images/dalle2_cesar_thinking.png" />
    <div class="overlay"></div>
    <div class="text">
        <br />
        <h1>About OpenAI</h1>
        <p>OpenAI is a research organization that aims to create artificial intelligence in a safe and beneficial way. They offer a range of products and services, including natural language processing tools, machine learning platforms, and AI research papers. Their language models, such as GPT-3, are among their most well-known products, and they are widely used in applications such as language translation, content creation, and chatbots. OpenAI also offers an API that allows developers to access their models and integrate them into their own applications. Overall, OpenAI is at the forefront of AI research and development, and their products and services are helping to advance the field of artificial intelligence.</p>
        <div class="sourcetext">
            <p>Source: ChatGPT</p>
        </div>
    </div>
<br />
</div>
